// MEDIA WIDTH //
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;

// COLORS //
$black: #13182c;
$blue: #2e66e5;
$green: #a5ee83;
$orange: #ffa178;
$white: #f7f8f9;
$grey: rgba(40, 44, 64, 0.6);
